<div class="container">
    <div ng-show="message.isShown" class="alert alert-{{ message.type }}" role="alert">{{ message.text }}</div>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="social-net-login">
                <form ng-submit="login()">
                    <div class="row form-group text-center">
                        <i class="fa fa-user user-icon"></i>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="loginField" placeholder="Enter your Login"
                               ng-model="user.username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="passwordField" placeholder="Enter your Password"
                               ng-model="user.password">
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-info">Submit <i class="fa fa-sign-in"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>