<div class="col-xs-12 col-md-4 col-lg-3">
    <div class="panel panel-default">
        <h2 class="text-center">Search</h2>
        <form class="panel-body center-block" ng-submit="search()">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="searchObj.name">
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" ng-model="searchObj.city">
            </div>
            <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" ng-model="searchObj.country">
            </div>
            <div class="form-group">
                <label>
                    <input type="radio" ng-model="searchObj.gender" value="f">
                    Female
                </label>
                <label>
                    <input type="radio" ng-model="searchObj.gender" value="m">
                    Male
                </label>
            </div>
            <div class="text-center">
                <a href="" class="btn btn-default" ng-click="resetSearch()">Reset</a>
                <button class="btn btn-info" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>

<div class="col-xs-12 col-md-8 col-lg-9">
    <sn-friend ng-repeat="user in users"
               sn-friend="user"
               sn-friend-on-click="addFriend(user)"
               sn-friend-type="user"></sn-friend>
    <div class="text-center">
        <a href="#" class="btn btn-info" ng-click="showMoreUsers($event)" ng-hide="showMoreUsersBtn">More users</a>
    </div>
</div>

