<div>
    <div class="col-xs-12 col-md-4 col-lg-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 class="text-center">Search</h2>
                <div class="form-group">
                    <label>By name:</label>
                    <input type="text" class="form-control" ng-model="search.user.name">
                </div>
                <div class="form-group">
                    <label>By e-mail:</label>
                    <input type="email" class="form-control" ng-model="search.user.email">
                </div>
                <div class="form-group">
                    <label>By country:</label>
                    <input type="text" class="form-control" ng-model="search.user.country">
                </div>
                <div class="form-group">
                    <label>By city:</label>
                    <input type="text" class="form-control" ng-model="search.user.city">
                </div>
                <div class="form-group text-center">
                    <button class="btn-sm btn btn-default" ng-click="search = ''">Reset</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-8 col-lg-9">
        <sn-friend ng-repeat="friend in friends | filter:search:strict"
                   sn-friend="friend"
                   sn-friend-on-click="removeFriend(friend)"
                   sn-friend-type="friend"></sn-friend>
    </div>
    <a href="" class="btn btn-info" ng-click="loadPosts($event)" ng-hide="!showMoreBtn">More posts</a>

</div>
