<div class="media sn-post-wrap">
    <div class="media-left">
        <a href="#">
            <img class="media-object img-circle" src="{{ post.user.avatar }}" alt="{{ post.user.name }}">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">{{ post.subject }}</h4>
        <p>{{ post.description }}</p>
        <div class="row">
            <div class="col-xs-3 col-lg-2">
                <a ui-sref="userProfile({ id: post.user.id })" class="text-muted">{{ post.user.name }}</a>
            </div>
            <div class="col-xs-3 col-lg-2">
                <em class="small text-muted"><i class="fa fa-calendar"></i> {{ post.createdAt | date }}</em>
            </div>
            <div class="col-xs-3 col-lg-2">
                <a href="" class="text-muted" ng-click="post.showComments = !post.showComments">
                    <i class="fa fa-comments"></i> {{ post.comments.length }}
                </a>
            </div>
        </div>
        <div class="row" ng-show="post.comments.length && post.showComments">
            <div class="col-xs-12 sn-post-comments">
                <ul class="list-unstyled">
                    <li class="small" ng-repeat="comment in post.comments">
                        <i class="fa fa-comment text-info"></i>
                        <em class="text-muted">{{ comment.description }}</em>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>