<div class="row">

    <div class="col-xs-12 col-md-3  sidebar">

        <form editable-form name="editableProfileForm" onbeforesave="updateUser()">

            <a href="#"  class="small pull-right" ng-click="editableProfileForm.$show()" ng-show="!editableProfileForm.$visible">
                Edit profile
            </a>

            <span class="pull-right" ng-show="editableProfileForm.$visible">

                <button  type="button" class="btn btn-default" ng-disabled="editableProfileForm.$waiting" ng-click="editableProfileForm.$cancel()">
                    Cancel
                </button>

                <button type="submit" class="btn btn-primary">
                    Save
                </button>

            </span>

            <div class="row">
                <div class=" col-xs-6">
                    <img class=" img-circle" src="{{profile.avatar}}" alt="{{profile.username}}">
                </div>
                <div class=" col-xs-6">
                    <h3 editable-text="profile.name">{{ profile.name || 'empty' }}</h3>
                    <span editable-number="profile.age">{{profile.age}} years. </span>
                </div>
            </div><hr>

            <dl >
                <h4>General information</h4>
                <dt>Birthday :</dt>
                <dd editable-date="profile.birthday">{{profile.birthday | date: "dd/MM/yyyy"}}</dd>
                <dt>Location :</dt>
                <dd editable-text="profile.country">   {{profile.country}}, {{profile.city}}.</dd>
                <dd editable-text="profile.city"></dd>
                <dt>Job :</dt>
                <dd editable-text="profile.job">  {{profile.job || 'empty'}}.</dd>
                <dt>About self : </dt>
                <dd editable-textarea="profile.description">  {{profile.description}}</dd><hr>

                <h4> Conact information</h4>
                <dt> E-mail : </dt>
                <dd editable-email="profile.email">{{profile.email || 'empty'}}</dd>
                <dt>Phone : </dt>
                <dd editable-tel="profile.phone" e-pattern="\(\d{3}\)\ \d{3}\-\d{4}" e-title="(xxx) xxx-xxxx"> {{profile.phone || 'empty'}}</dd><hr>
            </dl>

        </form>

    </div>

    <div class="col-xs-12 col-md-9 col-md-offset-3">



        <h4>Posts of {{profile.name}}</h4><hr>
        <div class="row">
            <form class="col-md-6">
                <div class="form-group">
                    <label for="postSubject">Post subject:</label>
                    <input type="text" class="form-control" id="postSubject" placeholder="subject">
                </div>
                <div class="form-group">
                    <label for="postDescription">Post text:</label>
                    <textarea id="postDescription" type="text" rows="4" class="form-control" placeholder="text"></textarea>
                </div>

                <button type="submit" class="btn btn-primary" ng-click="addPost()">Submit</button>
            </form>
        </div>
        <hr>

        <sn-post ng-repeat="post in posts | orderBy: createdAt  " sn-post="post" ng-init="end=0"></sn-post>
        <button  class="btn btn-primary pull-right"  ng-click="limit()" ng-hide="!end">More posts</button>

    </div>

</div>
