<div class="row">
    <div class="col-xs-12 col-md-4 col-lg-3">
        <form editable-form name="editableProfileForm" onbeforesave="updateUser()">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p><img class="img-circle" src="{{ profile.avatar }}" alt="{{ profile.name }}"></p>
                            <p class="text-center" ng-show="editableProfileForm.$visible">
                                <button type="submit" class="btn btn-sm btn-info">
                                    Save <i class="fa fa-save"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-default" ng-disabled="editableProfileForm.$waiting"
                                        ng-click="editableProfileForm.$cancel()">
                                    Cancel <i class="fa fa-times"></i>
                                </button>
                            </p>
                            <h3 editable-text="profile.name">{{ profile.name || '' }}</h3>
                            <p><em class="small text-muted" editable-textarea="profile.description">{{ profile.description }}</em></p>
                            <p><span editable-number="profile.age">{{ profile.age }} years </span></p>
                            <div class="text-center">
                                <a href="#" class="btn btn-sm btn-success" ng-click="$event.preventDefault(); editableProfileForm.$show()"
                                   ng-show="!editableProfileForm.$visible" ng-hide="!showEditBtn">
                                    Edit profile <i class="fa fa-pencil"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">General Information</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="text-muted">Birthday</span>
                        </div>
                        <div class="col-xs-8">
                            <span editable-date="profile.birthday">{{ profile.birthday | date: "dd/MM/yyyy" }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="text-muted">Location</span>
                        </div>
                        <div class="col-xs-8">
                            <span editable-text="profile.country">{{ profile.country }}</span>,
                            <span editable-text="profile.city">{{ profile.city }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="text-muted">Job</span>
                        </div>
                        <div class="col-xs-8">
                            <span editable-text="profile.job">{{ profile.job || 'empty' }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Contact Information</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="text-muted">E-mail</span>
                        </div>
                        <div class="col-xs-8">
                            <span editable-email="profile.email">{{ profile.email || '' }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="text-muted">Phone</span>
                        </div>
                        <div class="col-xs-8">
                            <span editable-tel="profile.phone" e-pattern="\(\d{3}\)\ \d{3}\-\d{4}" e-title="(xxx) xxx-xxxx">
                                {{ profile.phone || 'empty' }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-md-8 col-lg-9">
        <div class="row">
            <form class="col-xs-12" ng-submit="submitForm()">
                <div class="form-group">
                    <input type="text" class="form-control" id="postSubject" ng-model="newPost.subject"
                        placeholder="Subject">
                </div>
                <div class="form-group">
                    <textarea id="postDescription" type="text" rows="4" class="form-control"
                              placeholder="Text" ng-model="newPost.description"></textarea>
                </div>
                <button type="submit" class="btn btn-sm btn-info pull-right" ng-click="createPost()">Create New Post</button>
            </form>
        </div>
        <hr>
        <sn-post ng-repeat="post in posts track by $index | orderBy: createdAt" sn-post="post"></sn-post>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="" class="btn btn-info" ng-click="loadPosts($event)" ng-hide="!showMoreBtn">More posts</a>
            </div>
        </div>
    </div>
</div>
